.theme-entry div[name='Area Item OBB_Collapse'] > table {
  table-layout: auto !important;
  width: auto !important;
  min-width: 130% !important;
}

.theme-entry div[name='Area Item OBB_Collapse'] > table th,
.theme-entry div[name='Area Item OBB_Collapse'] > table td {
  white-space: nowrap !important;
}

.theme-entry div[name='Area Item OBB_Collapse'] > table colgroup col {
  width: auto !important;
}
