.theme-entry .scroll-wrapper {
    overflow-x: hidden !important;
}
.theme-entry div[name='Area Item OBB_Collapse'] .grid-body {
  display: block !important;
  overflow-x: scroll;
}

.theme-entry div[name='Area Item OBB_Collapse'] .grid-body table {
  table-layout: auto !important;
  overflow-x: hidden;
}

.theme-entry div[name='Area Item OBB_Collapse'] colgroup col {
  width: auto !important;
}

.quickSearch.filter{
    display:none !important;
}

.filterChosen.filter {
    position: relative;
}
.filterChosen.filter{
    display:inline-block !important;
}

.filterChosen.filter .filterLabel{
    position:relative;
    display:none;
}

.filterChosen.filter::before {
    content: "Choose Filter: ";
    position: relative;
    left: 0;
    width: fit-content;
    color: #131313;
    font-size: 1rem;
    font-family: var(--regularFont) !important;
}

html:not(.designer) .popup.dialog{
    width: 600px;
    top: 66.906px;
    left: 375.5px;
    height: fit-content !important;
    border-radius: 1rem !important;
    overflow: hidden;
}

html:not(.designer) .popup.dialog .popup-header .popup-header-text {
    font-size: 1.6rem;
    color: #131313;
}

html:not(.designer) .theme-entry .popup-header {
    padding: 1rem 2rem;
    background-color: #8b5b5b;
}

.theme-entry .dialog#PickerSearchDialog {
    min-height:unset;
}

.theme-entry .picker-search-grid.grid.full {
    min-height:unset;
}

html:not(.designer) .theme-entry .grid table.grid-column-header-table td {
    background-color: #8b5b5b;
    border-right: 1px solid rgb(220 220 220 / 80%);
    cursor: pointer;
}
html:not(.designer) .theme-entry .grid .grid-column-header-text {
    font-family: var(--regularFont) !important;
    width: fit-content !important;
    color: #131313;
}

html:not(.designer) [name*="OBB_button OBB_primary_button"], html:not(.designer) .SourceCode-Forms-Controls-Web-Button {
    background-color: var(--aqua) !important;
    color: white !important;
}

html:not(.designer) [name*="OBB_button"], html:not(.designer) .SourceCode-Forms-Controls-Web-Button {
    border-radius: .5rem;
    /* margin-left: 1rem; */
    border: none;
    transition: var(--transition);
    font-family: var(--regularFont);
}