.theme-entry .scroll-wrapper {
  overflow-x: hidden !important;
}

.theme-entry div .grid-body {
  overflow-x: auto !important; 
}

.theme-entry div .grid-body table {
  table-layout: auto !important;
  overflow-x: hidden;
}

.theme-entry div .grid-body colgroup col {
  width: auto !important;
  align-items: center !important;
}

