.theme-entry .scroll-wrapper {
  overflow-x: hidden !important;
}

.theme-entry div .grid-body {
  overflow-x: auto !important; 
}

.theme-entry div .grid-body table {
  table-layout: auto !important;
  overflow-x: hidden;
}

.theme-entry div .grid-body colgroup col {
  width: auto !important;
  align-items: center !important;
}

html:not(.designer) [name*="s_header"] {
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 15rem;
    width: calc(100% - 15rem);
    z-index: 2;
    /* height: 6rem; */
    padding: 0 1rem !important;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}