.sidebar.hidden {
    padding: 0rem !important;
    transform: translateX(calc(-100% + 3rem));
     transition: transform 0.3s ease, width 0.3s ease;
}

.sidebar {
    transition: transform 0.3s ease, width 0.3s ease;
}

html:not(.designer) body.sidebarVisible.sidebar-close {
    margin-left: 3rem !important; 
    width: calc(100% - 3rem) !important;
    padding: 0 1rem;
    transition: margin-left 0.3s ease, width 0.3s ease;
}

html:not(.designer) body.sidebarVisible {
    transition: margin-left 0.3s ease, width 0.3s ease;
}

html:not(.designer) .sidebarVisible.sidebar-close [name="OBB_header"] {
    left: 3rem !important;
    width: calc(100% - 3rem) !important;
    transition: left 0.3s ease, width 0.3s ease;
}

html:not(.designer) .sidebarVisible [name="OBB_header"] {
       transition: left 0.3s ease, width 0.3s ease;
}