.sidebar.hidden {
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

html:not(.designer) body.sidebarVisible.sidebar-close {
    margin-left: 0 !important;
    width: 100% !important;
    padding: 0px 1rem;
    transition: margin-left 0.3s ease, width 0.3s ease;
}

html:not(.designer) body.sidebarVisible {
    transition: margin-left 0.3s ease, width 0.3s ease;
}

html:not(.designer) .sidebarVisible.sidebar-close [name="OBB_header"] {
        left: 0 !important;
        width:100vw !important;
        transition: left 0.3s ease, width 0.3s ease;
}

html:not(.designer) .sidebarVisible [name="OBB_header"] {
       transition: left 0.3s ease, width 0.3s ease;
}