.theme-entry div[name='Area Item OBB_Collapse'] .grid-body table {
  table-layout: auto !important;
  min-width: 130% !important;
}
.theme-entry div[name='Area Item OBB_Collapse'] colgroup col {
  width: auto !important;
} 
